body{
background:#F0FFFF;
}

.photo{
	border:3px solid #A9A9A9;
border-radius:50%;
}
	

#title, .subtitle, .post_title{
	color: red;
	}
	
	.post_title{
font-sizer:16px;
font-style: italic;
margin:0;
margin-bottom:15px;
}

.post{
background:#FFF;
padding:10px;
border:3px solid #000;
margin:10px;
border-radius:5px;
}

.post_content{
margin:0;
margin-bottom:15px;
}

.post_image{
margin-bottom:15px;
}


